include README.rst
include MANIFEST.in
include requirements.txt
include version.py

recursive-include conf *.conf
recursive-include etc *
recursive-include scripts/common *

graft conf
graft db
graft cloudrunner_server/api
graft etc
