include README.rst
include MANIFEST.in
include requirements.txt
include version.py

recursive-include conf *.conf
recursive-include etc *
recursive-include scripts/common *

graft conf
graft cloudrunner_server/db
graft cloudrunner_server/api
graft cloudrunner_server/cache/functions
graft etc
