[General]
work_dir = /tmp
verbose_level = WARN
auth = cloudrunner_server.plugins.auth.user_db.UserMap
transport = cloudrunner_server.plugins.transport.zmq_transport.ZmqTransport
scheduler = cloudrunner_server.plugins.scheduler.cron_scheduler.CronScheduler

[Users]
db = sqlite://

[Plugins]
common = state/functions.py

[Security]
server_cert = /tmp/cloudrunner-tests/server.crt
server_key = /tmp/cloudrunner-tests/server.key
ca = /tmp/cloudrunner-tests/ca.crt
cert_pass = 

